{% extends "layout.html" %}

{% block content %}
    <h1>Nos Salles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Numéro Salle</th>
                <th>Nombre de Sièges</th>
            </tr>
        </thead>
        <tbody>
            {% for salle in liste_salles %}
            <tr>
                <td>{{ salle.id_salle }}</td>
                <td>{{ salle.num_salle }}</td>
                <td>{{ salle.nb_sieges }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
